.single-stock {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
}

.stock-left-part {
  position: relative;
  width: 70%;
  min-height: 70vh;
}

.stock-right-part {
  min-height: 70vh;
  width: calc(30% - 20px);
  margin-left: 20px;
}

.above-chart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-left: 25px;
}

.stock-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
