.single-stock {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
}

.stock-right-part {
  background-color: beige;
  min-height: 70vh;
  width: 80%;
}

.stock-left-part {
  background-color: blue;
  min-height: 70vh;
  width: calc(20% - 20px);
  margin-left: 20px;
}
