.header-component {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.inner-header {
  padding: 10px 0;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-part {
  flex: 1 1 100%;
}

.right-part {
  flex: 1 1 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
