.main-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #02abde;
  color: white;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
}

.main-button:hover,
.main-button:focus {
  background-color: #137c9b;
}
