.main-button-component {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #2e7f97;
  color: white;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
}

.main-button:hover,
.main-button:focus {
  background-color: #133f4d;
}
