.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 16px;
  @media (min-width: 500px) {
    padding: 16px 32px;
  }
  border-bottom: 2px solid var(--faded-gray);
  svg {
    color: var(--main-emphasis);
  }
  .right-part {
    display: none;
  }
  @media (min-width: 700px) {
    .nav-mobile {
      display: none;
    }
    .right-part {
      display: flex;
      align-items: center;
      gap: 32px;
    }
  }
}
