.options {
  position: absolute;
  top: 50px;
  width: 250px;
  display: none;
  background-color: var(--secondary-bg);
  color: var(--main-text-color);
  list-style: none;
  border: 1px solid var(--main-emphasis);
  li {
    padding: 8px 24px;
    position: relative;
  }
  .absolute {
    position: absolute;
    left: 0px;
  }
  & li:focus,
  & li:hover {
    transition: 0.4s all ease-in-out;
    background: var(--main-hover);
    cursor: pointer;
    color: white;
  }
  & li[aria-selected="true"] {
    font-weight: 600;
  }
}

.show {
  display: block;
}
